/*______________________________generelle indstillinger*/

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    background-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    padding: 5vw;
}

section {
    max-width: 1200px;
    margin: auto;

}


/*__________________________________________Typografier*/

h1 {
    font-size: 3rem;
    font-family: 'oswald', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    color: black;
}

h2 {
    font-size: 2rem;
    font-family: 'oswald', sans-serif;
    font-weight: 400;
    font-size: large;
    color: black;
}

p {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: 100;
    font-style: normal;
}

/*_____________________________________Typografier_slut*/
/*________________________________________________header*/
header {

    position: fixed;
    width: 100%;
    justify-content: right;
    cursor: pointer;
}

header nav {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    /*    justify-content: flex-end;*/
    align-items: flex-end;
    padding: 0.7rem;
    text-decoration: none;
    font-family: 'Russo One', sans-serif;

}

header nav a {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #EDD8AC;
}

header nav a:link {
    color: white;
}

/* visited link */
header nav a:visited {
    color: black;
}

/* mouse over link */
header nav a:hover {
    color: #D7564A;
    transition: .5s ease;
    transform: scale(1.07);

}

/* selected link */
header nav a:active {
    color: #E8CAFD;
}



/*___________________________________________header_slut*/

/*_____________________________________forside_sectionen*/

#forside {
    background-image: url(Billeder/mini_splash2.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;

}



/*__________________________________________Forside slut*/

/*____________________________________Oversigt_sectionen*/

#oversigt .sectionwrapper {

    flex-basis: 500px;
    flex-direction: row;

}

#oversigt .col {
    max-width: 500px;
    margin: auto;
    height: 500px;
    width: 500px;
}

#oversigt img:hover {
    transition: .5s ease;
    transform: scale(1.07);
}


/*_________________________________________web_sectionen*/

#web .sectionwrapper {
    display: flex;
    flex-basis: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 5px 5px 5px;



}

#web .col_txt {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 300px;
    background-color: #EDD8AC;
    border-radius: 15px;
    padding: 10px;
}

#web .col_img {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 300px;
}



/*____________________________________Web_sectionen_slut*/
/*__________________________________________ux_sectionen*/
#ux .sectionwrapper {
    display: flex;
    flex-basis: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 5px 5px 5px;
    justify-content: center;

}

#ux .col_txt {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 400px;
    background-color: #EDD8AC;
    border-radius: 25px;
    padding: 10px;
}

#ux .col_img {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 300px;
    border-radius: 25px;
    justify-content: center;
}

/*_____________________________________ux_sectionen_slut*/

/*_____________________________________animation_section*/
#animation .sectionwrapper {
    margin: auto;
    justify-content: center;
}

#animation .sectionwrapper1 {}

#animation .col_txt {

    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 450px;
    padding: 5px;
    border-radius: 15px;
    background-color: #EDD8AC;

}

#animation .col_img {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 450px;
    padding: 5px;

}

#animation img {
    width: 500px;

}

iframe {
    width: 100%;
    height: 56.25vw;
    border: 0;
    padding: 40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*________________________________animation_section_slut*/

/*_____________________________________indhold_sectionen*/

#content .sectionwrapper {
    display: flex;
    flex-basis: 300px;
    flex-direction: row;
    flex-wrap: wrap;

}

#content .col_txt {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 300px;
    padding: 0px 5px 5px 5px;
    background-color: #EDD8AC;
    border-radius: 25px;
}

#content .col_img {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 300px;
    padding: 0px 5px 5px 5px;
}

#content img {
    width: 100%;
}

#content video {
    width=100%;
    height=100%;
    padding-left: 8vw;

}

/*________________________________om sektionen*/

#om .sectionwrapper {
    display: flex;
    flex-basis: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 5px 5px 5px;
    justify-content: center;

}

#om .col_txt {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 400px;
    background-color: #EDD8AC;
    border-radius: 25px;
    padding: 10px;
}

#om .col_img {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 300px;
    border-radius: 25px;
    justify-content: center;
}


/*__________________________________________media_querys*/

/*____________________________________________header*/
@media only screen and (min-width:600px) {



    header nav {
        flex-direction: row;
        justify-content: flex-end;

    }

    header nav a {
        border-right: none;

    }

    header nav a:last-child {
        border-right: none;
        padding: 1rem;
    }
}


/*Forside billede*/
@media only screen and (min-width: 550px) {
    #forside {
        width: 100vw;
        height: 56.25vw;
        background-image: url(Billeder/splash.jpg);
        background-size: cover;
    }
}

/*_____________________________________________container*/

@media only screen and (min-width:950px) {





    #web .col_txt,
    #web .col_img,
    #ux .col_txt,
    #ux .col_img,
    #content .col {
        max-width: 600px;
        margin: auto;
        display: flex;

    }
}




@media only screen and (min-width:550px) {




    #web .sectionwrapper {

        display: flex;
        flex-direction: row;

    }
}



/*____________________________________oversigt container*/

@media only screen and (min-width:800px) {

    #oversigt .sectionwrapper {
        display: flex;
    }
}

/*        animation container*/

@media only screen and (min-width:800px) {

    #om .sectionwrapper {
        display: flex;
    }
}



/*
@media only screen and (min-width:800px) {
    #animation .sectionwrapper {
        display: flex;
        align-items: center;
    }
}

@media only screen and (min-width:800px) {

    #animation .col_img {
        display: flex;
        max-width: 500px;
        flex-direction: row;
    }
}
*/
